<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Опрос пройден!</title>
</head>
<body>
<div class="container">
    <center>
        <h1>Спасибо, что поучаствовали в опросе!</h1><br>
        <h5>Этот опрос будет актуален для проведения социолингвистических исследований в мультиязыковых сообществах, в  том числе - с большим количеством смешанных браков.</h5>
        <h3>Если Вам интересно узнать, что ответили другие участники, нажмите  <a href="http://127.0.0.1:5000/stats">сюда</a></h3>
        <h3>Если Вы хотите пройти опрос еще раз (или просто посмотреть на выдру), нажмите  <a href="http://127.0.0.1:5000/">сюда</a></h3>
        <h3>Если Вы хотите получить результаты опроса в формате json, нажмите  <a href="http://127.0.0.1:5000/json">сюда</a></h3>
        <h3>Если Вы хотите поискать по всем ответам, нажмите  <a href="http://127.0.0.1:5000/search">сюда</a></h3>
    </center>
</div>




</body>